AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
BasedOnStyle: Microsoft
BreakTemplateDeclarations: Yes
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterTemplateKeyword: false
